 ../.VirtualBox/
        ../.bash_history
        ../.lesshst
        ../.local/
        ../.vagrant.d/
        ../.vagrant/
        ../.viminfo
        ../.vscode/
        ../3D Objects/
        ../AppData/
        ../Contacts/
        ../Desktop/
        ../Documents/
        ../Downloads/
        ../Favorites/
        ../Links/
        ../MicrosoftEdgeBackups/
        ../Music/
        ../NTUSER.DAT
        ../NTUSER.DAT{ecbf451b-95f0-11ed-a768-8160a8fee377}.TxR.0.regtrans-ms
        ../NTUSER.DAT{ecbf451b-95f0-11ed-a768-8160a8fee377}.TxR.1.regtrans-ms
        ../NTUSER.DAT{ecbf451b-95f0-11ed-a768-8160a8fee377}.TxR.2.regtrans-ms
        ../NTUSER.DAT{ecbf451b-95f0-11ed-a768-8160a8fee377}.TxR.blf
        ../NTUSER.DAT{ecbf451c-95f0-11ed-a768-8160a8fee377}.TM.blf
        ../NTUSER.DAT{ecbf451c-95f0-11ed-a768-8160a8fee377}.TMContainer000000000
00000000001.regtrans-ms
        ../NTUSER.DAT{ecbf451c-95f0-11ed-a768-8160a8fee377}.TMContainer000000000
00000000002.regtrans-ms
        ../OneDrive/
        ../Pictures/
        ../Saved Games/
        ../Searches/
        ../Vagrantfile
        ../Videos/
        ../VirtualBox VMs/
        ../ntuser.dat.LOG1
        ../ntuser.dat.LOG2
